@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

/* div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  font-family: "Montserrat", sans-serif;
} */

body {
  font-family: "Montserrat", sans-serif;
}
